// baseStyles.scss

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

svg {
    vertical-align: middle;
}

.btn {
    padding: 0.5rem;
    border: 1px solid $primary;
    border-radius: 5px;
    cursor: pointer;
}