// baseStyles.scss

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 125%;
    background-color: $tintedBG;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.home a, .events a, .demo button {
    &:hover {
        background-color: $primary;
    }
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

input {
    width: 100%;
}

svg {
    vertical-align: middle;
}

.btn {
    padding: 0.5rem;
    border: 1px solid $primary;
    border-radius: 5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

fieldset {
    width: min(90%, 500px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    input, textarea {
        margin-bottom: 1rem;
        padding: 0.25rem 0.5rem;
        background-color: $tintedBG;
        border: 1px solid black;
        border-radius: 5px;
    }
    .btn {
        background-color: $primary;
        &:hover {
            background-color: #be1834;
        }
    }
}

.disable-link {
    pointer-events: none;
    opacity: 0.25;
}