// eventDetails.scss

.eventDetails {
    // width: min(90%, 1000px);
    // padding: 2rem;
    border: 1px solid gold;
    .headingTextContainer {
        background-color: white;
    }
    .wrapper,
    .detailsTextContainer {
        width: min(90%, 1000px);
        background-color: white;
        margin: 0 auto;
        border-radius: 5px;
    }
    .eventDetailsOptions {
        display: flex;
        justify-content: end;
        padding: 0.5rem;
        border-top: 1px solid $greyDark;
        button {
            margin-left: 0.5rem;
        }
    }
}