// home.scss

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 2rem;
    text-align: center;
    .onboarding,
    .demo {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }
    .demo {
        position: absolute;
        bottom: 25%;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 5px;
        padding: 0.5rem 0;
    }
}