// home.scss

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 2rem;
    text-align: center;
    .onboarding {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }
    a {
        display: inline-block;
        transition: all 0.15s ease-in-out;
        &:hover {
            background-color: $primary;
        }
    }

}