// typography.scss

.navigation a:hover {
    color: $primary;
}

h1 {
    margin: 0;
    color: $primary;
}

.home p {
    margin: 2rem 0;
}

.home a, .events a {
    color: $primary;
    &:hover {
        color: white;
    }
}

fieldset button {
    color: white;
}

.formError {
    color: $primary;
}

.events .eventsGallery a {
    color: black
}

.eventName {
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
}